html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.background {
  background: url(img/maxresdefault.png);
  background-size: cover;
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  width: 100%;
  height: 100vh;
}

.character {
  background-image: url("img/35.png");
  width: 59px;
  height: 86px;
  position: absolute;
  top: 90%;
  left: 50%;
}

.key {
  font-size: 40px;
  padding: 10px;
  background-color: white;
}
