.background {
  background: url(img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.character {
  background-image: url("img/bin.png");
  width: 59px;
  height: 86px;
  position: absolute;
  top: 85%;
  left: 50%;
}

.element{
  width: 59px;
  height: 86px;
  position: absolute;
  top: -10%;
  animation: drop 4s linear forwards;
  animation-iteration-count:infinite;
}

@keyframes drop{
  from {top: -10%}
  to {top: 85%}
}